<div class="ui grid">
  <% @posts.each do |post| %>
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui medium feed">
        <div class="event">
          <div class="label">
            <%= image_tag post.user.avatar.url(:thumb) %>
          </div>
          <div class="content">
            <div class="summary">
              <%= link_to post.user.user_name, user_show_path(post.user_id) %>
              <div class="date">
                <%= post.created_at%>
              </div>
            </div>
            <div class="extra text">
              <%= link_to post.content, post_path(post) %>
            </div>
            <div class="meta">
              <a class="like">
                <i class="like icon"></i> 5 Likes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column"></div>
  <% end %>
  
</div>
