/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'semantic-ui';

@import 'posts';

.ui.segment {
  border-radius: 0px !important;
}

body {
  background-color: #0d1d15 !important;
}

.ui.input > input{ 
  background-color: #40553d;
  border-radius: 50px !important;
  margin: 4px 120px 4px 0px;
}

.ui.inverted.segment {
  background-color: #1c371d;
}

* {
  color: grey;
}

.field_with_errors{
  color: black;
}

.green {
  background-color: #1c371d !important;
}

.button{
  margin-top: 4px !important;
  border-radius: 50px !important;
}

.background-image {
  background-image: url('twitter_bird2.png');
  height: 100vh;
  background-size: cover;
  background-position-x: -250px;
  // width: 50px;
  // height: 500px;
  // transform: scale(10);
}
